nifi/Ethermine.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>48fb8112-0167-1000-5757-d6781bdd601c</groupId>
    <name>Ethermine</name>
    <snippet>
        <processGroups>
            <id>4e13660f-83e2-38ef-0000-000000000000</id>
            <parentGroupId>fae14df8-f169-3275-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0c03589e-6d6c-3469-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>5abd00a7-c2cb-3e8e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>3c9c379e-31a4-3cda-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>50669409-7e73-3679-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>64ded040-21a9-3ded-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>88a869cc-44bc-3467-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5d3dec23-8317-33f4-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>5f2e8950-b363-3a5d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>09697314-fbc8-3f16-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>649a5552-feae-3505-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>d6facaaf-f376-348a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>3c9c379e-31a4-3cda-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>74796178-d85b-3685-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>88a869cc-44bc-3467-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>755a0587-20f6-38b1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7add729b-a53d-3685-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>8d6b5341-bdbe-377c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>29e7e1aa-899b-3c3a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9f1c504f-d5f7-3378-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>755a0587-20f6-38b1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>8d6b5341-bdbe-377c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bb7fd49a-2753-372f-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>29e7e1aa-899b-3c3a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>4e13660f-83e2-38ef-0000-000000000000</groupId>
                        <id>5abd00a7-c2cb-3e8e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>2f826264-354c-376a-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>
<name>Include Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>
<name>Quote Mode</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>
<name>Include Trailing Delimiter</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>MINIMAL</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>a9088908-fecb-3e40-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>
<name>Include Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>
<name>Quote Mode</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>
<name>Include Trailing Delimiter</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVRecordSetWriter - Merge</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>MINIMAL</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>cb700d39-48ea-39c9-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-registry-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>avro-reg-validated-field-names</key>
                            <value>
<name>avro-reg-validated-field-names</name>
                            </value>
                        </entry>
                        <entry>
                            <key>mySchema</key>
                            <value>
<name>mySchema</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>AvroSchemaRegistry</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>avro-reg-validated-field-names</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>mySchema</key>
                            <value>{
  "type" : "record",
  "name" : "xx",
  "fields" : [ {
    "name" : "time",
    "type" : "int",
    "doc" : "Type inferred from '1549368000'"
  }, {
    "name" : "reportedHashrate",
    "type" : "int",
    "doc" : "Type inferred from '380243007'"
  }, {
    "name" : "currentHashrate",
    "type" : "double",
    "doc" : "Type inferred from '3.592222222222222E8'"
  }, {
    "name" : "validShares",
    "type" : "int",
    "doc" : "Type inferred from '322'"
  }, {
    "name" : "invalidShares",
    "type" : "int",
    "doc" : "Type inferred from '0'"
  }, {
    "name" : "staleShares",
    "type" : "int",
    "doc" : "Type inferred from '2'"
  }, {
    "name" : "activeWorkers",
    "type" : "int",
    "doc" : "Type inferred from '3'"
  } ]
}</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
                </controllerServices>
                <controllerServices>
                    <id>e64e1626-8501-3090-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
<name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
<name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
<name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader - Merge</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>csv-header-derived</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <controllerServices>
                    <id>ec6a4356-a32b-32de-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>cb700d39-48ea-39c9-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>mySchema</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <labels>
                    <id>75551341-24a7-3e6e-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>309.48242369185</x>
                        <y>688.0529889772827</y>
                    </position>
                    <height>55.37845230102539</height>
                    <label>DEV time: SplitJson and InferAvroSchema 
are used for schema 
generation needed only during dev</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>236.73641967773438</width>
                </labels>
                <processors>
                    <id>09697314-fbc8-3f16-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>165.03647432026753</x>
                        <y>739.9411614853475</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kite-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Schema Output Destination</key>
<value>
    <name>Schema Output Destination</name>
</value>
                            </entry>
                            <entry>
<key>Input Content Type</key>
<value>
    <name>Input Content Type</name>
</value>
                            </entry>
                            <entry>
<key>CSV Header Definition</key>
<value>
    <name>CSV Header Definition</name>
</value>
                            </entry>
                            <entry>
<key>Get CSV Header Definition From Data</key>
<value>
    <name>Get CSV Header Definition From Data</name>
</value>
                            </entry>
                            <entry>
<key>CSV Header Line Skip Count</key>
<value>
    <name>CSV Header Line Skip Count</name>
</value>
                            </entry>
                            <entry>
<key>CSV delimiter</key>
<value>
    <name>CSV delimiter</name>
</value>
                            </entry>
                            <entry>
<key>CSV Escape String</key>
<value>
    <name>CSV Escape String</name>
</value>
                            </entry>
                            <entry>
<key>CSV Quote String</key>
<value>
    <name>CSV Quote String</name>
</value>
                            </entry>
                            <entry>
<key>Pretty Avro Output</key>
<value>
    <name>Pretty Avro Output</name>
</value>
                            </entry>
                            <entry>
<key>Avro Record Name</key>
<value>
    <name>Avro Record Name</name>
</value>
                            </entry>
                            <entry>
<key>Number Of Records To Analyze</key>
<value>
    <name>Number Of Records To Analyze</name>
</value>
                            </entry>
                            <entry>
<key>Charset</key>
<value>
    <name>Charset</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Schema Output Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Input Content Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>CSV Header Definition</key>
                            </entry>
                            <entry>
<key>Get CSV Header Definition From Data</key>
<value>true</value>
                            </entry>
                            <entry>
<key>CSV Header Line Skip Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>CSV delimiter</key>
<value>,</value>
                            </entry>
                            <entry>
<key>CSV Escape String</key>
<value>\</value>
                            </entry>
                            <entry>
<key>CSV Quote String</key>
<value>'</value>
                            </entry>
                            <entry>
<key>Pretty Avro Output</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Avro Record Name</key>
<value>xx</value>
                            </entry>
                            <entry>
<key>Number Of Records To Analyze</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Charset</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InferAvroSchema</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unsupported content</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kite.InferAvroSchema</type>
                </processors>
                <processors>
                    <id>29e7e1aa-899b-3c3a-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>718.8417894767456</x>
                        <y>333.42041112890524</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>3c9c379e-31a4-3cda-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>131.3718570337287</x>
                        <y>118.27936858668045</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>URL</key>
<value>
    <name>URL</name>
</value>
                            </entry>
                            <entry>
<key>Filename</key>
<value>
    <name>Filename</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>User Agent</key>
<value>
    <name>User Agent</name>
</value>
                            </entry>
                            <entry>
<key>Accept Content-Type</key>
<value>
    <name>Accept Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>redirect-cookie-policy</key>
<value>
    <name>redirect-cookie-policy</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>URL</key>
<value>${apiPath}</value>
                            </entry>
                            <entry>
<key>Filename</key>
<value>${now():toNumber()}_dashboard.json</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>User Agent</key>
                            </entry>
                            <entry>
<key>Accept Content-Type</key>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>true</value>
                            </entry>
                            <entry>
<key>redirect-cookie-policy</key>
<value>default</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetHTTP</type>
                </processors>
                <processors>
                    <id>5abd00a7-c2cb-3e8e-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>716.7471065960112</x>
                        <y>121.03870258205893</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>data</key>
<value>
    <name>data</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>data</key>
<value>$.data.statistics</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>5f2e8950-b363-3a5d-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>166.203477340373</x>
                        <y>967.7448092376394</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile-DUMMY</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>64ded040-21a9-3ded-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>721.9249056348008</x>
                        <y>1155.6522856403867</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>${targetFolderTxt}</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>755a0587-20f6-38b1-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>723.9129854103508</x>
                        <y>741.6855432879865</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>
    <name>merge-strategy</name>
</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
<value>
    <name>correlation-attribute-name</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>
    <name>min-records</name>
</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>
    <name>max-records</name>
</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>
    <name>min-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
<value>
    <name>max-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-age</key>
<value>
    <name>max-bin-age</name>
</value>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>
    <name>max.bin.count</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>e64e1626-8501-3090-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>a9088908-fecb-3e40-0000-000000000000</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>1</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
                            </entry>
                            <entry>
<key>max-bin-age</key>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>10</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeRecord</type>
                </processors>
                <processors>
                    <id>88a869cc-44bc-3467-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>724.4372691936642</x>
                        <y>951.2190410284641</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename}.txt</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>8d6b5341-bdbe-377c-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>721.0108154458397</x>
                        <y>536.6410768476098</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>ec6a4356-a32b-32de-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>2f826264-354c-376a-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                </processors>
                <processors>
                    <id>d6facaaf-f376-348a-0000-000000000000</id>
                    <parentGroupId>4e13660f-83e2-38ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>131.07816134912304</x>
                        <y>338.4678491687961</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>${targetFolderJson}</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>5 min</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Save JSON file to filesystem</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
            </contents>
            <name>eth</name>
            <variables>
                <entry>
                    <key>targetFolderTxt</key>
                    <value>/Users/jirihubacek/ethmine/txt</value>
                </entry>
                <entry>
                    <key>targetFolderJson</key>
                    <value>/Users/jirihubacek/ethmine/json</value>
                </entry>
                <entry>
                    <key>apiPath</key>
                    <value>http://api.ethermine.org/miner/XXXXXX/dashboard</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>02/13/2019 01:17:13 AEDT</timestamp>
</template>
